html {
    font-size: 14px;
}

body {
	margin: 0;
    font-family: "Helvetica Neue";
}

.page__header .header {
	padding: 0 1.5rem;
	background-color: #000000;
	height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.content__section {
    overflow: auto;
}

.content__section.darkgray-background {
    background-color: rgb(51,51,51);
}

.content__section.lightgrey-background{
    background-color: rgb(238,238,238);    
}

.content__title {
    padding: 3rem 2rem 0 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.content__module {
    margin: 1.5rem;
}

.content__module.full-width {
    margin: 0;
    background-color: #000;
}

.content__module.two-column {
    display: flex;
    justify-content: space-between;
}

.module__category,
.module__headline,
.module__image {
	margin: 0;
}

.full-width .module__category,
.full-width .module__headline {
	margin: 0 1.5rem;
}

.two-column .module {
    width: 20rem;
}

.two-column .module__category,
.two-column .module__headline,
.two-column .module__image {
}

.module {
	position: relative;
}

.module__image {
    overflow: hidden;
}

.module__image img {
    display: block;
}

.module__category {
	z-index: 10;
	position: absolute;
    color: whitesmoke;
    padding: 0.75rem 1.5rem;
}

.module__headline {
    background-color: #000000;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    overflow: auto;
}

.module__headline div {
    margin: 1.5rem;
    max-height: 4rem;
    line-height: 2rem;
    overflow: hidden;
}

.module__category.national{
    background-color: rgb(31,189,93);
}

.module__category.sports{
    background-color: rgb(255,79,2);
}

.module__category.weather{
    background-color: rgb(121,12,183);
}

.module__category.local{
    background-color: rgb(255,0,2);
}

.article-list ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1.5rem
}

.module__article-list .article-list{

}

.article-list__title {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0 1.5rem;
}

.article-list__headline {
    font-weight: 500;
    margin: 2rem 0 0.5rem 0;
    font-size: 1.5rem;
}

.article-list__time-post {
    color: gray;
}

.footer {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.footer div:not(:last-child) {
    padding-bottom: 1rem;
}

.footer__social-media ul {
    list-style-type: none;
}

.footer__tagline {

}